body{
    margin: 0%;
}

div{
    position:absolute;
    top:15%;
    left:35%;
    border: 1px solid white;
    border-radius: 4px;
    padding: 40px;
}

input{
    width: 300px;
    min-width: 100px;
    padding: 10px;
    background-color: whitesmoke;
    margin-bottom: 10px;
    border: none;
}

input:focus{
    outline: none;
    background-color:rgba(70, 131, 180, 0.35);
    color: white;
}

button{
    margin: 20px;
    width: 80px;
    height: 30px;
    background-color: rgb(175,102,243);
    color: white;
    border: none;
    
}